@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/form";
@import "partials/floating-element.scss";

html{
    font-family: small;
}

* html{
    font-family: standard;
}

*+html{
    font-family: standard;
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    //border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    //outline: 0;
    padding: 0;
    vertical-align: baseline
}

html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

*,:after,:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

body {
    background: #f1f1f1
}

article,aside,details,figcaption,figure,footer,header,mainv,section {
    display: block
}

ol,ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,td,th {
    font-weight: 400;
    text-align: left
}

blockquote:after,blockquote:before,q:after,q:before {
    content: ""
}

blockquote,q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none
}

a:active,a:hover {
    outline: 0
}

a img {
    border: 0
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular-webfont.eot);
    src: url(../fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/OpenSans-Regular-webfont.woff) format('woff'),url(../fonts/OpenSans-Regular-webfont.ttf) format('truetype'),url(../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular) format('svg');
    font-weight: 400;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light-webfont.eot);
    src: url(../fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/OpenSans-Light-webfont.woff) format('woff'),url(../fonts/OpenSans-Light-webfont.ttf) format('truetype'),url(../fonts/OpenSans-Light-webfont.svg#OpenSansLight) format('svg');
    font-weight: 200;
    font-style: normal
}

body,button,input,select,textarea {
    font-family: 'Open Sans',Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",STXihei,"åŽæ–‡ç»†é»‘",SimHei,"WenQuanYi Micro Hei",sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: .2px
}

h1,h2,h3,h4,h5,h6 {
    clear: both;
    font-weight: 400
}

h1{
    font-size: 2.2em;
    margin: .67em 0;
}

h2{
    font-size: 1.5em;
    margin: .83em 0;
}

h3{
    font-size: 1.17em;
    margin: 1em 0;
}

h4{
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: .83em;
    margin: 1.67em 0
}

h6 {
    font-size: .67em;
    margin: 2.33em 0
}

p {
    margin-bottom: 1.6em
}

b,strong {
    font-weight: 400
}

cite,dfn,em,i {
    font-style: italic
}

blockquote {
    border-left: 4px solid #707070;
    border-left: 4px solid rgba(51,51,51,.7);
    color: #707070;
    color: rgba(51,51,51,.7);
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 1.6667;
    margin-bottom: 1.6667em;
    padding-left: .7778em
}

blockquote p {
    margin-bottom: 1.6667em
}

blockquote>p:last-child {
    margin-bottom: 0
}

blockquote cite,blockquote small {
    color: #333;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6
}

blockquote cite,blockquote em,blockquote i {
    font-style: normal
}

blockquote b,blockquote strong {
    font-weight: 400
}

address {
    font-style: italic;
    margin: 0 0 1.6em
}

code,kbd,pre,samp,tt,var {
    font-family: Inconsolata,monospace;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre {
    background-color: transparent;
    background-color: rgba(0,0,0,.01);
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51,51,51,.1);
    line-height: 1.2;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: .8em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

abbr[title] {
    border-bottom: 1px dotted #eaeaea;
    border-bottom: 1px dotted rgba(51,51,51,.1);
    cursor: help
}

ins,mark {
    background-color: #fff9c0;
    text-decoration: none
}

sub,sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    bottom: 1ex
}

sub {
    top: .5ex
}

small {
    font-size: 75%
}

big {
    font-size: 125%
}

hr {
    background-color: #eaeaea;
    background-color: rgba(51,51,51,.1);
    border: 0;
    height: 1px;
    margin-bottom: 1.6em
}

ol,ul {
    margin: 0 0 1.6em 1.3333em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ol,li>ul {
    margin-bottom: 0
}

dl {
    margin-bottom: 1.6em
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: 1.6em
}

table,td,th {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51,51,51,.1)
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.6em;
    table-layout: fixed;
    width: 100%
}

caption,td,th {
    font-weight: 400;
    text-align: left
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 400
}

td {
    border-width: 0 1px 1px 0
}

td,th {
    padding: .4em
}

img {
    -ms-interpolation-mode: bicubic;
//    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle
}

figure {
    margin: 0
}

del {
    opacity: .8
}

::-webkit-input-placeholder {
    color: rgba(51,51,51,.7)
}

:-moz-placeholder {
    color: rgba(51,51,51,.7)
}

::-moz-placeholder {
    color: rgba(51,51,51,.7);
    opacity: 1
}

:-ms-input-placeholder {
    color: rgba(51,51,51,.7)
}

body:after {
    display: none
}

body,html {
    height: 100%;
    -webkit-font-smoothing: antialiased
}

#wrapper {
    min-height: 100%;
    position: relative
}

#body {
    padding-bottom: 44px;
    overflow: auto
}

footer {
    width: 100%;
    height: 44px;
    position: absolute;
    bottom: 0;
    left: 0
}

p {
    word-wrap: break-word
}

.hidden {
    display: none
}

.btn {
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    display: inline-block
}

.btn.right .icon {
    margin-left: 4px;
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 18px;
    background-image: url(../img/icons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 16px
}

.btn.dark {
    border: 1px solid #273652;
    color: #273652
}

.btn.dark:hover {
    background-color: #273652;
    color: #fff
}

.btn.dark.right .icon {
    background-position: 0 0
}

.btn.dark.right:hover .icon {
    background-position: 0 -50px
}

.btn.light {
    border: 1px solid #00bfff;
    color: #00bfff
}

.btn.light:hover {
    background-color: #00bfff;
    color: #273652
}

.btn.light.right .icon {
    background-position: 0 -100px
}

.btn.light.right:hover .icon {
    background-position: 0 0
}

.btn_wrapper {
    width: 100%;
    text-align: center;
    overflow: auto
}

.flex-container a:hover,
.flex-slider a:hover {
    outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0 0 60px;
    background:  #FFF;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 30px;
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
    content: '\f002';
}



body {
    background-color: #273652
}

body #wrapper {
    opacity: 1;
    transition: opacity 1s
}

body #page_spinner {
    display: none
}

body.home.page_loading {
    overflow: hidden
}

body.home.page_loading #page_spinner {
    display: block
}

body.home.page_loading #wrapper {
    opacity: 0
}

header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    transition: background-color .5s
}

header .logo.nav {
    opacity: 0
}

header .logo.nav img {
    height: 28px
}

header .logo.nav a {
    text-decoration: none;
    color: #273652;
    display: block
}

header nav li,header nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

header nav a {
    text-decoration: none;
    transition: color .3s
}

header .lang a {
    color: #fff;
    text-decoration: none;
    transition: color .5s
}

header .lang a:hover {
    color: #58dfbd
}

.lt-ie9 header.change,.no-js header.change,header.change.fixed,header.change.mobile_open {
    background-color: #fff;
    background-color: rgba(255,255,255,.96);
    border-bottom: 1px solid #ccc
}

.lt-ie9 header.change #main_nav li a,.no-js header.change #main_nav li a,header.change.fixed #main_nav li a,header.change.mobile_open #main_nav li a {
    color: #1f2432
}

.lt-ie9 header.change #main_nav li a.active,.no-js header.change #main_nav li a.active,header.change.fixed #main_nav li a.active, ,header.change.white-logo #main_nav li a.active,header.change.mobile_open #main_nav li a.active {
    color: #00bfff
}

.logo.nav.white-logo,{
    opacity: 1;
    transition: opacity .5s
}
.lt-ie9 header.change .logo.nav,.no-js header.change .logo.nav,header.change.fixed .logo.nav,header.change.mobile_open .logo.nav {
    opacity: 1;
    transition: opacity .5s
}

.lt-ie9 header.change .lang a,.no-js header.change .lang a,header.change.fixed .lang a,header.change.mobile_open .lang a {
    color: #1f2432
}

.lt-ie9 header.change .search-submit,.no-js header.change .search-submit,header.change.fixed .search-submit,header.change.mobile_open .search-submit {
    color: #273652
}

.section,section {
    width: 100%;
}

.section h2,section h2 {
    font-size: 2em
}

a {
    text-decoration: none
}

.page.home h1,.page.home h2,.page.home h3,.page.home h4,.page.home h5,.page.home h6 {
    text-align: center;
    font-weight: 200
}

.section h2, section h2{
    font-size: 2em;
}

#body section > .content, #body .section > .content{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 84px 5%;
}

#body section .inner, #body .section .inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5%;
}

#body section#hero > .content , #body section#whoami > .content{
    padding:0;
}

#hero {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 0;
}

#hero .inner {
    z-index: 999;
    width: 100%;
    margin: 0
}

#hero img {
    display: inline-block;
    width: 200px;
    padding: 9px;
}

#hero #arrow {
    top: 80%
}

#hero .bg-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow:hidden;
    ////background: url("/assets/images/hero_normal.jpg") center center no-repeat;
    //background-size: cover;
    z-index: 0;
}


#hero .bg {
    position: relative;
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px) !important;
    min-height: 100%;
    background: url("/assets/images/hero_normal.jpg") center center no-repeat;
    background-size: cover;
    z-index: -1;
}

#body{
    background-color: #FFF;
}

#arrow {
    position: absolute;
    z-index: 998;
    width: 100%;
    left: 0
}

#arrow a {
    color: #fff;
    text-decoration: none;
    background: url(/assets/images/arrow_down.png) bottom center no-repeat;
    background-size: 30px auto;
    padding-bottom: 24px;
    transition: padding-bottom .5s;
    animation: arrow_down 2s infinite
}

#arrow a:hover {
    padding-bottom: 30px
}

/*#whoami{
    background: url('/assets/images/whoami_normal.jpg') center center;
    background-size: cover;
}*/

#whoami > .content{
    max-width: 1200px;
}

#whoami  div#inner{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: #FFF;
    text-shadow: 0px 1px 17.64px rgba(6, 0, 1, 0.996);

}

#whoami  div#inner > h1 {
    color: #FFF;
    font-size: 60px;
    margin-bottom:0;
}

#whoami  div#inner > p {
    color: #FFF;
    font-size: 36px;
    margin-bottom: 24px;
}

#partners{
    background-color: #FFF;
}

#partners .inner{
    text-align: center;
}

#partners .inner h2{
    position: relative;
    z-index: 1000;
    background-color: #FFF;
    display: inline-block;
    margin: 0;
    padding: 0 .6em;
}

#partners .inner .hr{
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 1.3em;
    width: 40%;
    margin: 0 auto 2em auto;
}

#partners div.cols.wrapper{
    margin-bottom: 2em;
}

#partners .team{
    margin-top: 2em;
    width: 80%;
    margin: auto;
}

#partners .team ul{
    margin: 0;
    list-style-type: none;
    text-align: center;
}

#partners .team ul li{
    overflow: auto;
    display: inline-block;
    margin-bottom: 1em;
    width: 100%;
}

#partners figure{
    position: relative;
}
#partners figure figcaption{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.6;
    color:white;
}
#partners figure .name{
    float:left;
    padding: 0 .5em;
}
#partners figure .title{
    float: right;
    padding: 0 .5em;
}


#cases {
    background-color: rgb(2, 20, 101);
}

#body #cases > .content, #body #partners > .content {
    position: static;
    overflow: show;
    padding-top: 3em;
    padding-bottom: 3em;
}
#body #partners > .content {
    padding-top: 5em;
}

#body #cases  .inner, #body #partners .inner{
    position: static;
    top: initial;
    transform: none;
}

#cases .slides li{
    margin: 0 auto;
}

#cases .flexslider {
    margin: 0 0 60px;
    background: rgb(2, 20, 101);
}

#cases .slides .wrapper{
    background: #FFF;
    width: 96%;
    margin: 0 auto;
    overflow: auto;
    padding: 2em;
}

#cases .slides .wrapper .name, #cases .slides .wrapper .company{
    font-weight: 700;
}

#cases .flex-direction-nav{
    display: none;
}
#cases .flex-control-nav{
    list-style: none;
    text-align: center;
    margin-bottom: 1.9em;
}

#cases .flex-control-nav li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    background: rgba(0, 0, 0, .6);
    width: 60px;
    height: 60px;
    margin-right: 1em;
}

#cases .flex-control-nav li{
    position: relative;
}

#cases .flex-control-nav li:after {
    content: "";
    width: 2em;
    height: 2em;
    display: none;
    border-bottom: 1em solid #FFF;
    border-left: 1em solid rgb(0, 20, 101);
    border-right: 1em solid rgb(0, 20, 101);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#cases .flex-control-nav li.active:after {
    display: block;
}

#cases .flex-control-nav li img{
    border-radius: 2px;
    opacity: .4;
    display: inline-block;
}

#cases .flex-control-nav li img.flex-active{
    opacity: 1;
    border: 1px solid #FFF;
}

#news{
    background-color: rgb(30, 172, 252);
    text-align: left;
    color: #FFF;
}

#news h2 {
    text-align: left;
    border-bottom: 1px solid #FFF;
}

#news ul.news_list{
    list-style: none;
    margin: 0 0 2em 0;
}

#news .time{
    margin-right: 1em;
    float:left;
}

#news .abstract{
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#news button{
    padding: 0 3em;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    color: #FFF;
}

#contact{
    background-color: rgb(124, 186, 0);
    text-align: center;
    color: #FFF;
}

#body #contact .inner{
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    margin: 0 auto;
}

#contact .inner h2{
    width:5em;
    display: block;
    padding: 0em .25em 0 .25em;
    border-bottom: 1px solid #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#contact h3{
    margin-top: 0;
    margin-bottom: 1em;
}

#contact p{
    margin-bottom: 0;
}
#contact .address{
    list-style-type: none;
    margin: 0;
}

#contact .contact{
    overflow: hidden;
    margin: auto;
    border-bottom: 1px solid #FFF;
    text-align: center;
}

#contact .contact figure{
    vertical-align: bottom;
    display: inline-block;
    width: 47%;
    margin-bottom: 1em;
}
#contact .contact figure img{
    display: block;
    width: 100px;
    margin: 0 auto;
}

#contact .address{
    overflow: hidden;
    padding-top: 1em;
}
#contact .address li h3 {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5;
    text-align: right;
    float: left;
    padding-right: 4%;
    width: 20%
}

#contact .address li p {
    text-align: left;
    font-size: 1em;
    line-height: 1.5;
}

#contact .address li p {
    float: left;
    width: 80%
}

#contact .email a {
    display: inline-block;
    text-decoration: none;
    color: rgb(39, 54, 82);
}
footer {
    background: #1c1d21;
    text-align: center;
    color: #aaa;
    line-height: 44px
}

html.modal {
    overflow: hidden;
    background-color: #ccc
}

html.modal #wrapper {
    height: 100%
}

.avatar{
    height: 200px;
}


.btn-center-container{
    text-align: center;
    height: 4em;
    padding: 1em 0;
    margin-bottom: 2em;
}

.btn-group{
    display: inline-block;
}

.btn-group > button{
    display:inline-block;
    float:left;
    width: 10em;
    text-align: center;
    border: 1px solid #FFF;
    color:#FFF;
    background-color: rgb(2, 20, 101);
}

button.right{
    border-radius: 0 10px 10px 0;
    margin-left: -1px;
}
button.left{
    border-radius: 10px 0 0 10px;
}

button.active{
    background-color: #FFF;
    color: rgb(2, 20, 101);
}

#popup_pp {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    margin: 0 auto
}


